
Shapes/.vs/*
Shapes/src/GeometryConsoleExample/bin/*
Shapes/src/GeometryConsoleExample/obj/*
Shapes/src/Geometry/bin/*
Shapes/src/Geometry/obj/*
Shapes/tests/ShapesTest/bin/*
Shapes/tests/ShapesTest/obj/*
